numpy==2.0.2
torch==2.5.1
torchvision==0.20.1
ultralytics==8.3.65
onnx==1.16.1
onnxruntime==1.19.2
onnxslim==0.1.47
opencv-python==4.11.0.86
PyQT5==5.15.9
cv2_enumerate_cameras==1.1.18.2
pycocotools==2.0.8